/* Generics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Whitney, Helvetica Neue, Helvetica,Arial, sans-serif; */
}

img{
    max-width: 100%;
}

/* Utilities */

.clearfix{
    clear: both;
    display: table;
    content: '';
}

.container{
    text-align: center;
    min-width: 1400px;
    margin: 0 auto;
}

.col{
    float: left;
}

.w-50{
    width: 50%;
}

.w-25{
    width: 25%;
}

h1{
    font-family: 'Whitney', sans-serif;
}

/* Colors */

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

/* buttons */

.btn{
    display: inline-block;
    font-family: 'Whitney', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 0 10px;
}

a{
    text-decoration: none;

}

.btn-small{
    border-radius: 15px;
    font-size: 13px;
    line-height: 35px;
    width: 70px;
    height: 35px;
    background-color: #fff;
}

.btn-light{
    border-radius: 40px;
    background-color: #fff;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.btn-dark{
    border-radius: 40px;
    background-color: #23272A;
    width: 300px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

/* Header + nav */



/* TOP HEADER */

.top-bar{
    background-color: #255EE9;
    width: 100%;
    height: 80px;
    line-height: 70px;
    padding-top: 5px;
}

.top-bar *{
    display: inline-block;
    vertical-align: middle;
}

#logo-container{
    vertical-align: middle;
}

#main-menu {
    text-align: center;
}

#main-menu ul li {
    margin: 0 20px;
}

#main-menu ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Whitney', sans-serif;
    font-weight: 600;
}

/* JUMBOTRON */

.jumbotron{
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.jumbotron-content h1{
    padding: 80px 0 30px 0;
    color: white;
    font-size: 50px;
}

.jumbotron-content p{
    line-height: 30px;
    font-family: 'Whitney', sans-serif;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

#down-arrow{
    font-size: 20px;
    font-weight: 900;
}

/* Main */

.main-container{
    width: 1200px;
    height: 600px;
    margin: 80px auto;
    position: relative;
}

#main-first-image{
    background-image: url(img/item1.svg);
    background-repeat: no-repeat;
    width: 716px;
    height: 600px;
    float: left;
    display: inline-block;

}


.main-content h1{
    text-align: left;
    width: 32%;
    margin: 40px 50px 20px 50px;
    display: inline-block;
    float: right;
    font-size: 50px;
    font-weight: 600;
}

.main-content p{
    padding: 0 100px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    float: right;
    font-family: 'Whitney', sans-serif;
    transform: translateY(-200%);
}